<h2> <%= fb_name @user, :useyou=>false, :linked=>false, :possessive=>true%>Battle History</h2>
<%= fb_profile_pic @user %>
<% for attack in @battles %> 
<div class="battle"> 
	<%= image_tag attack.move.image_name %> 
	<%= link_to(fb_name(attack.attacking_user, :linked=>false), battles_path(:user_id=>attacking.attacking_user)) %> 
	<%= attack.hit? ? "hit" : "missed" %> 
	<%= link_to(fb_name(attack.defending_user, :linked=>false), battles_path(:user_id=>attacking.defending_user)) %> 
	with a <%= attack.move.name %> 
</div> 
<% end %>